* {
    margin: 0 0;
    padding: 0 0;

}

body {
    /* background: rgb(35,35,35); */
    background-color: #000;
    

}

.nav-parent {
    height: 50%;
    width: auto;

    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/9134db96-10d6-4a64-a619-a21da22f8999/a449fabb-05e4-4c8a-b062-b0bec7d03085/IN-en-20240115-trifectadaily-perspective_alpha_website_large.jpg);
    z-index: 0.4;

}

.div1 {
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.8) 100%);
}


nav {
    width: 80%;
    height: 10%;
    margin-top: -3.5%;
}

.ul,
.ul2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul2 {
    gap: 1rem;
}

.logo {
    width: 200px;
    height: 180px;
}

.select {
    background: #000;
    color: white;
    padding: 8px 11px;
    border-radius: 6px;
    font-size: 14px;
    border: #656363;
}

.Sign {
    background: red;
    color: white;
    padding: 12px 12px;
    /* margin: none; */
    border: none;
    border-radius: 5px;
    width: 82px;
    height: 35px;
}

.center-box {
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    /* border: 10px solid white; */
    margin: 9%;
    height: 50%;
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.8) 100%); */
}

.big-font {
    font-size: 3rem;
    margin-top: 2rem;
}

.mid-font {
    font-size: 1.5rem;

    margin-top: 1rem;
}

.font {
    font-size: 1.25rem;
    margin-top: 1rem;
}

.ul3 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 5rem;

}

.input {

    height: 60px;
    width: 50%;
    background: #1312127a;
    /* margin: 1rem 15rem; */
    /* filter: opacity(0.3); */
    border: 1px solid #c5bebe78;
    color: white;
    border-radius: 5px;
    margin-left: 21rem;
    margin-right: 11rem;

}


.get {
    background: red;
    height: 58px;
    width: 40%;
    margin-right: 27rem;
    border: none;
    color: white;
    /* border: 12px; */
    border-radius: 5px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;


}
.get:hover,.Sign:hover{
    background-color: rgb(199, 41, 41);
}